* {
    margin: 0;
    padding: 0;
}

/*body {
    font-family: sans-serif;
}*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #17afba, #174d82);
    padding: 0 !important;
}

.navbar-brand img {
    height: 60px;
    padding-left: 25px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #ffff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler {
    outline: none !important;
}


/*-------------------- Banner section------------------------*/
#banner {
    background-image: linear-gradient(to right, #17b2ba, #174d82);
    color: #fff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img {
    width: 100%;
}

/*-------------------- About me------------------------*/
#aboutme {
    padding: 80px 0;
}

.aboutme-img {
    width: 200px;
    margin-top: 20px;
}

.aboutme {
    padding: 20px;
}

.aboutme h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #174d82;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

/*.title::after {
    content: '';
    background: #174d82;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}*/

/*-------------------- Conocimientos ------------------------*/
#conocimientos {
    background: #ecedee;
    padding-bottom: 50px;
    padding-top: 50px;
}

.conocimientos-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#conocimientos ul li {
    margin: 10px 0;
}

#conocimientos ul {
    margin-left: 20px;
}

/*-------------------- Proyectos ------------------------*/
#proyectos {
    padding: 80px 0;
}

.proyectos-img {
    width: 350px;
    margin-top: 20px;
}

.proyectos {
    padding: 20px;
}

.proyectos h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

/*-------------------- Redes ------------------------*/